@import "./../var";

.drawer {
    display: none;
    position: absolute;
    top: 60px;
    background: $color-k6;
    padding: 0 1rem 1rem 1rem;
    width: 100%;

    @media (min-width: $breakpoint-lg) {
        top: 120px;
    }
}

.nav-button {
    position: relative;
    padding: 0;
    height: 19px;
    width: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;

    @media (min-width: $breakpoint-lg) {
        display: none;
    }

    > span {
        display: block;
        top: 50%;
        transform: translateY(-50%);
        transition: top 0.1s ease-out;

        &,
        &::before,
        &::after {
            position: absolute;
            width: 27px;
            height: 3px;
            background-color: $color-k4;
        }

        &::before,
        &::after {
            content: "";
            display: block;
        }

        &::before {
            top: -8px;
        }

        &::after {
            bottom: -8px;
        }
    }
}

.drawer-breadcrumbs {
    display: none;
    padding: 1rem;
    text-align: center;
    font-weight: 600;
    position: relative;

    &::after {
        content: url("/assets/chevron.svg");
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%) rotate(180deg);
        line-height: 1;
    }
}

.drawer--open {
    overflow: hidden;

    .drawer {
        display: block;
    }

    .header {
        background-color: $color-k6;
    }

    .nav-button {
        span,
        span::before,
        span::after {
            width: 17px;
            background-color: $color-k1;
            top: auto;
            bottom: auto;
        }
    }
}
