.drawer {
    width: 100%;
    padding: 0 15px 15px 15px;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: $color-k5;

    @media (min-width: $breakpoint-md) {
        padding: 0 4rem 1rem;
    }
}

.nav-button {
    position: relative;
    padding: 0;
    height: 19px;
    width: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;

    > span {
        display: block;
        top: 50%;
        transform: translateY(-50%);
        transition: top 0.1s ease-out;

        &,
        &::before,
        &::after {
            position: absolute;
            width: 27px;
            height: 3px;
            background-color: $color-k4;
        }

        &::before,
        &::after {
            content: "";
            display: block;
        }

        &::before {
            top: -8px;
        }

        &::after {
            bottom: -8px;
        }
    }
}

.drawer--open {
    overflow: hidden;

    .drawer {
        display: block;
    }

    .header {
        background-color: $color-k5;
    }

    .nav-button {
        span,
        span::before,
        span::after {
            width: 17px;
            background-color: $color-k1;
            top: auto;
            bottom: auto;
        }
    }
}