@import "./var";

.container {
    max-width: 1080px;
    padding: 0 $space;
    margin: 0 auto;

    @media (min-width: $breakpoint-md) {
        padding: 0 $space-tablet;
    }

    @media (min-width: $breakpoint-lg) {
        padding: 0 $space;
    }
}

.main {
    padding-bottom: 3rem;
}

.page-header {
    margin-top: 40px;
    margin-bottom: 1rem;
    line-height: 1;

    @media (min-width: $breakpoint-md) {
        margin-top: 60px;
    }

    @media (min-width: $breakpoint-md) {
        margin-top: 70px;
    }
}

section[class*="section"]:not(:last-child) {
    margin-bottom: 4rem;
}

.text-section {
    line-height: 1.3;
    font-size: 1.3rem;
    color: $color-k2;
    font-weight: 300;

    @media (min-width: $breakpoint-md) {
        font-size: 1.5rem;
    }

    @media (min-width: $breakpoint-lg) {
        max-width: 900px;
    }
}

.flex-section {
    > *:not(:last-child) {
        margin-bottom: 3rem;
    }

    @media (min-width: $breakpoint-lg) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $space;

        > *:not(:last-child) {
            margin-bottom: 0;
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.drawer--open .overlay {
    display: block;
}
