@import "./var";

.container {
    max-width: 1080px;
    padding: 0 1rem;
    margin: 0 auto;
}

.main {
    padding-bottom: 3rem;
}

.page-header {
    margin-top: 40px;
    margin-bottom: 1rem;
    line-height: 1;

    @media (min-width: 768px) {
        margin-top: 60px;
    }

    @media (min-width: 768px) {
        margin-top: 70px;
    }
}

.footer {
    margin-top: auto;
    display: flex;
    padding: 1rem;

    &__social {
        margin-left: auto;
        display: flex;
        align-items: center;

        &-icon {
            width: 30px;
            height: 30px;
            background-color: $color-k3;
            line-height: 1;
            color: #fff;
            border-radius: 50%;
            display: grid;
            place-content: center;

            &:not(:last-child) {
                margin-right: 0.5rem;
            }
        }
    }
}

section[class*="section"]:not(:last-child) {
    margin-bottom: 2rem;
}

.text-section {
    line-height: 1.3;
    font-size: 1.3rem;
    color: $color-k2;
    font-weight: 300;
}

.flex-section {
    > *:not(:last-child) {
        margin-bottom: 1rem;
    }

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        > *:not(:last-child) {
            margin-bottom: 0;
        }
    }
}

.quote {
    &__icon {
        fill: $color-cta;
        max-width: 40px;
        height: auto;
    }

    blockquote {
        font-size: 1.75rem;
        color: $color-k2;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
    figcaption {
        > span {
            display: inline-block;
            font-weight: 700;
            position: relative;
            line-height: 1;

            &::after {
                content: "";
                display: inline-block;
                height: 2px;
                width: 100%;
                background: $color-k1;
                line-height: 1;
            }
        }

        > cite {
            display: block;
            text-decoration: none;
            font-style: normal;
        }
    }
}
