@import 'var';

.footer {
    margin-top: auto;
    display: flex;
    padding: $space;
    justify-content: center;

     @media (min-width: 768px) {
         padding: $space $space-tablet;
         justify-content: flex-start;
     }

    &__brand {
        display: none;

        @media (min-width: 768px) {
            display: block;
        }
    }

    &__social {
        display: flex;
        align-items: center;

        @media (min-width: 768px) {
            margin-left: auto;
        }

        &-icon {
            width: 30px;
            height: 30px;
            background-color: $color-k3;
            line-height: 1;
            color: #fff;
            border-radius: 50%;
            display: grid;
            place-content: center;

            &:not(:last-child) {
                margin-right: .75rem;
            }

            > svg {
                height: 18px;
            }
        }
    }
}