@import 'var';

.header {
    position: relative;
    z-index: 1000;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    height: 60px;
    transition: background-color 0.1s ease-out;
    padding: 0 $space;

    @media (min-width: 768px) {
        padding: 0 $space-tablet;
    }

    &__row {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 89px;
        height: auto;
        flex-shrink: 0;
    }

    &__title {
        flex-grow: 1;
        text-align: center;
        margin-right: 1rem;
        font-weight: 700;
    }
}