@import "./reset";
@import "./var";
@import "./layout";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: $color-k1;
}

button {
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: $color-k3;
}

@for $i from 1 through 4 {
    h#{$i}.title {
        margin-top: 1rem;
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }
}

.card {
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.05), 0 0 6px 3px rgba(0, 0, 0, 0.05);
    padding: 1rem;
}

.graph {
    &__caption {
        font-weight: 600;
    }
}

.nav-button {
    position: relative;
    padding: 0;
    height: 19px;
    width: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;

    > span {
        display: block;
        top: 50%;
        transform: translateY(-50%);
        transition: top 0.1s ease-out;

        &,
        &::before,
        &::after {
            position: absolute;
            width: 27px;
            height: 3px;
            background-color: $color-k4;
        }

        &::before,
        &::after {
            content: "";
            display: block;
        }

        &::before {
            top: -8px;
        }

        &::after {
            bottom: -8px;
        }
    }
}

.nav-drawer {
    width: 100%;
    padding: 15px 15px 30px 15px;
    display: none;
}

.header {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    transition: background-color 0.1s ease-out;

    &__row {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem;
    }

    &__logo {
        width: 89px;
        height: auto;
        flex-shrink: 0;
    }

    &__title {
        flex-grow: 1;
        text-align: center;
        margin-right: 1rem;
        font-weight: 700;
    }

    &--open {
        background-color: $color-k5;

        .nav-button {
            span,
            span::before,
            span::after {
                width: 17px;
                background-color: $color-k1;
                top: auto;
                bottom: auto;
            }
        }
        .nav-drawer {
            display: block;
        }
    }
}

.nav-list {
    display: flex;
    flex-direction: column;

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 65px;
        padding: 0 60px;
        background-color: #fff;
        cursor: pointer;
        transition: background-color 0.1s ease-out, color 0.1s ease-out;

        &::after {
            content: url("/assets/chevron.svg");
            display: inline-block;
            position: absolute;
            right: 25px;
            width: 9px;
            height: 18px;
        }

        &:hover {
            background-color: $color-cta;
            color: #fff;

            &::after {
                color: #fff;
            }
        }
    }
}
