@import "./reset";
@import "./var";
@import "./layout";
@import "./footer";
@import "./header";
@import './components/all';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: $color-k1;
}

button {
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: $color-k3;
}

a {
    color: inherit;
    text-decoration: none;
}

@for $i from 1 through 4 {
    h#{$i}.title {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.75rem;
    }
}

@media (min-width: 768px) {
    h1.title {
        font-size: 3.5rem;
    }
    h3.title {
        font-size: 2rem;
        margin-top: 0;
    }
}

@media (min-width: 1080px) {
    h1.title {
        font-size: 4rem;
    }
    h3.title {
        font-size: 2rem;
    }
}

.card {
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.05), 0 0 6px 3px rgba(0, 0, 0, 0.05);
    padding: 1rem;

    @media (min-width: 768px) {
        padding: 2rem;
    }
}

.graph {
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__chart {
        width: 100%;

        @media (min-width: 768px) {
            max-width: 300px;
            margin-right: 2rem;
        }
    }

    &__caption {
        font-weight: 600;

        @media (min-width: 768px) {
            margin-top: 1rem;
            max-width: 400px;
        }
    }

    &__legend {
        margin: 1rem 0;

        &-item {
            display: flex;
            align-items: center;
            margin-bottom: .5rem;
        }
        &-color {
            width: 20px;
            height: 20px;
            background: $color-k5;
            margin-right: .5rem;
        }

        &-label {
            font-weight: 600;
        }
    }
}

.quote {
    &__icon {
        fill: $color-cta;
        max-width: 40px;
        height: auto;
    }

    blockquote {
        font-size: 1.75rem;
        color: $color-k2;
        font-weight: 300;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        @media (min-width: 768px) {
            font-size: 2rem;
        }
    }
    figcaption {
        font-size: 1.25rem;
        
        > span {
            display: inline-block;
            font-weight: 700;
            position: relative;
            line-height: 1;

            &::after {
                content: "";
                display: inline-block;
                height: 2px;
                width: 100%;
                background: $color-k1;
                line-height: 1;
            }
        }

        > cite {
            display: block;
            text-decoration: none;
            font-style: normal;
        }
    }
}